$mobile: 480px;
$tablet: 880px;
$desktop: 1200px;

@mixin d($tamanho) {
  @if $tamanho == g {
    @media ((min-width: $desktop)) {
      @content;
    }
  } @else if $tamanho == m {
    @media (min-width: $tablet) and (max-width: #{$desktop - 1}) {
      @content;
    }
  }
}
